<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="fileDir" value="${logback.dir}/%d{yyyy-MM,aux}"/>
    <appender name="CONSOLE-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logback.pattern.stdout}</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fileDir}/console.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>${logback.history.maximum}</maxHistory>
            <maxFileSize>${logback.single.size}</maxFileSize>
            <totalSizeCap>${logback.total.size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern.logfile}</pattern>
        </encoder>
    </appender>
    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fileDir}/app.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>${logback.history.maximum}</maxHistory>
            <maxFileSize>${logback.single.size}</maxFileSize>
            <totalSizeCap>${logback.total.size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern.logfile}</pattern>
        </encoder>
    </appender>
    <appender name="mapper" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fileDir}/mapper.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>${logback.history.maximum}</maxHistory>
            <maxFileSize>${logback.single.size}</maxFileSize>
            <totalSizeCap>${logback.total.size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern.logfile}</pattern>
        </encoder>
    </appender>
    <logger name="com.heuman.mapper" level="${logback.log.level.mapper}" additivity="false">
        <appender-ref ref="${logback.appender.ref.mapper}"/>
    </logger>
    <logger name="com.heuman" level="${logback.log.level.app}" additivity="false">
        <appender-ref ref="${logback.appender.ref.root}"/>
    </logger>
    <root level="${logback.log.level.root}">
        <appender-ref ref="${logback.appender.ref.root}"/>
    </root>
</configuration>
